<app-menu-navbar></app-menu-navbar>

<div class="background">
    <div class="login-window">
        <ul>
            <li><h1 class="responsive">Couponizer</h1></li>
            <li>Organize or manage your reward coupons</li>
            <li>
                <button md-raised-button color="primary" class="button-big">Sign up!</button>
                <button md-raised-button color="accent" class="button-big">Log in</button>
            </li>
        </ul>
    </div>
</div>

<div fxLayout="column">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>
            {{ title }}
        </h1>
    </div>

    <div fxLayout="row">
        <div class="left" fxFlex="20">
            LEFT: 20% wide
        </div>
        <div class="right" fxFlex>
            RIGHT: 80% wide
        </div>
    </div>
</div>
