.button-big {
    padding: 4px 36px;
}

.background {
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

.login-window {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    > ul {
        list-style-type: none;
        padding: 0;

        > li {
            text-align: center;
            margin-bottom: 1rem;

            button {
                margin: 6px;
            }
        }
    }
}

.header {
    background-color: lightyellow;
}

.left {
    background-color: lightblue;
}

.right {
    background-color: pink;
}
